{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Your Todos
        </div>
        <div class="card-body">
            <h5 class="card-title">List of your Todos</h5>
            <p class="card-text">Information regarding stuff that needs to be complete</p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Info</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                {% for todo in todos %}
                <tr   {% if todo.complete == true %}
                      class="table-secondary"
                      {% else %}
                      class="table-default"
                      {% endif %}
                >

                  <td>{{loop.index}}</td>
                  <td>{{todo.title}}</td>
                  <td>
                      <button type="button"
                              {% if todo.complete == true %}
                              disabled class="btn btn-secondary"
                              {% else %}
                              class="btn btn-success"
                              onclick="set_todo_complete({{todo.id}})"
                              {% endif %}
                      >Complete</button>
                      <button type="button"
                              {% if todo.complete == true %}
                              disabled class="btn btn-secondary"
                              {% else %}
                              class="btn btn-info"
                              onclick="window.location.href='edit/{{todo.id}}'"
                              {% endif %}
                      >Edit</button>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="add" class="btn btn-primary">Add a new Todo!</a>
        </div>
    </div>
</div>